.create-container {
    overflow:hidden;
}

.toggle-publish {
    position:absolute;
    bottom:0;left:0;
    margin:30px;
    background:rgb(142, 56, 255);
}

.publish-window-outer,
.publish-window-inner,
.publish-window-background {
    height:100%;
    width:100%;
}

.publish-window-outer,
.publish-window-background,
.publish-window-modal {
    position:absolute;
}

.publish-window-inner {
    position:relative;
}

.publish-window-background {
    background:none;
}

@keyframes slide-in {
    0% {
        transform:translate(-50%, -100vh);
    }
    100% {
        transform:translate(-50%, -50%);
    }
}

.publish-window-modal {
    top:50%;left:50%;
    transform:translate(-50%,-50%);
    height:75vh;
    width:60vh;
    background:rgb(255, 255, 255);
    border:2px solid rgb(68, 86, 255);
    border-radius:8px;
    padding:10px;
    animation: slide-in .1s ease-in-out 1;
    animation: slide-in .2s cubic-bezier(0.075, 0.82, 0.165, 1) 1;

    .window-header {
        text-align:center;
        font-size:18px;
        margin-top:30px;
    }

    .input-item {
        margin:20px 0;
        label {
            display:block;
            font-size:16px;
            &.tag-label {
                text-align:center;
            }
        }
        width:50%;
        input {
            height:30px;
            line-height:30px;
            width:100%;
            padding:0;
            font-size:16px;
            border:none;
            font-family:Poppins;
            border-bottom:1px solid rgb(94, 94, 94);
            &:focus {
                outline:none;
            }
        }
        .tags-container {
            width:100%;
            flex-wrap:wrap;
            justify-content:center;
            margin:8px 0;
            gap:10px;
            .tag {
                border:1px solid rgb(66, 231, 130);
                color:rgb(27, 110, 59);
                padding:2px 8px;
                transition:all .1s ease-in-out;
                border-radius:12px;
                cursor:pointer;
                &:hover, &.tag-active {
                    background:rgb(37, 175, 90);
                    color:#fff;
                }
            }
        }
    }
    .publish-button {
        $publish-color:rgb(47, 115, 218);
        color:$publish-color;
        border:1px solid $publish-color;
        box-shadow: none;
        &:hover {
            background:$publish-color;
            color:#fff;
            transform:none;
        }
    }
}