@import './settings.scss';

body {
    font-family: Poppins, sans-serif;
    overflow:hidden;
}

.stripe {
    position:fixed;
    height:400vh;
    width:50vw;
    background:rgb(134, 176, 255);
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) rotate(61deg);
    z-index:-1;
}

.center-child {
    display:flex;
    justify-content: center;
    align-items:center;
}

.full-outer {
    height:100vh;
    width:100vw;
    margin:0;
}

.flex-col {
    display:flex;
    flex-direction: column;
}

.flex-row {
    display:flex;
    flex-direction: row;
}

.flex-center {
    align-items: center;
}
.flex-stretch {
    align-items: stretch;
}