@import './settings.scss';

.select-grid-size-outer {
    width:100vw;
}

.select-grid-size-title {
    height:100px;
    line-height:100px;
    text-align:center;
    font-size:26px;
    font-family:PoppinsBold;
}

.grid-dimensions-outer {
    justify-content: center;
}

.grid {
    border-radius:10px;
    padding:10px;
    margin:20px;
    box-shadow: 0px 10px 21px -12px rgba(0,0,0,0.75);
    cursor:pointer;
    transition:transform .1s ease-in-out;
    background:$ui-light;
    &:hover {
        transform:translateY(-5px);
    }
}

.grid-item {
    height:60px;
    width:60px;
    border:1px solid rgb(187, 187, 187);
}