@import "settings.scss";

.textarea {	
    box-sizing: border-box;
	border: none;
	border-radius: 3px;
	resize: none;
	font-size: 20px;
	line-height: 24px;
	overflow: auto;
	height: auto;
	padding: 8px;
	box-shadow: 0px 4px 10px -8px black;
}


&::placeholder{
    color: gainsboro;
}

&:focus{
    outline: none;
}
