@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: PoppinsLight;
    src: url("./fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: PoppinsBold;
    src: url("./fonts/Poppins-Bold.ttf");
}