.welcome {
    height:40vh;
    width:40vw;
    line-height:40vh;
    text-align:center;
}

.title {
    height:100px;
    line-height:100px;
    text-align:center;
    font-size:26px;
    font-family:PoppinsBold;
}