@import "settings.scss";

.library-container {
    position:fixed;
    top:$nav-height;
    width:100vw;
    height: calc(100vh - #{$nav-height});
    overflow: scroll;
    overflow-x:hidden;
    display: flex;
}

.tag-whole-area {
    margin: 1rem 5rem;
    padding: 1rem;
    width: 25%;
    position:sticky;
    top:0;
    .tag-header {
        text-align:center;
        font-size:24px;
        font-family:Poppins;
    }
}

.tag-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.whole-map-section {
    flex:1;
    padding:2rem;
    margin:2rem;
    margin-left:0;
    height:fit-content;
    height:-moz-fit-content;
    .search-row {
        width:100%;
        height:50px;
        gap:10px;
        input.searchbar {
            flex:1;
            font-size: 1.1rem;
            border-radius: 5px;
            padding: 0 15px;
            height:100%;
            line-height:100%;
            font-family:Poppins;
            margin: 5px 0px;
            border:1px solid rgb(215, 201, 255);
            &:focus {
                outline:1px solid rgb(148, 155, 255);
            }
        }
        .search-button {
            margin:5px 0px;
            width:100px;
            height:100%;
            border-radius:5px;
            cursor:pointer;
            transition:background .1s ease-in-out;
            border:1px solid rgb(153, 143, 245);
            &:hover {
                background:rgb(171, 207, 255);
            }
            img { height:60%;}
        }
    }
    .map-item {
        width:100%;
    }
}

