@import "settings.scss";

.outer-navbar {
  position:fixed;
  top:0;left:0;
  width:100vw;
  background-color: $ui-dark;
  height: $nav-height;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  float: left;
  display: block;
  height: 100%;
  padding: 0 15px;
}

li a {
  color: $text-light;
  line-height: $nav-height;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: gray;
}

.right-link {
  float: right;
}
