$ui-light: rgb(255, 255, 255);
$ui-dark: rgb(41, 41, 41);

$text-light: rgb(255, 255, 255);
$text-dark: rgb(0, 0, 0);

$blue: rgb(49, 46, 221);
$green: rgb(38, 170, 97);
$red: rgb(230, 62, 40);
$purple: rgb(133, 75, 224);