.play-container {
    position:absolute;
    top:50%;left:50%;
    transform:translate(-50%, -50%);

    .play-info {
        margin:10px 0;
        gap:5px;
        .play-button,
        .restart-button {
            border-radius:10px;
            padding:5px;
            height:40px; width:70px;
            cursor:pointer;
            transition:background .1s ease-in-out;
            &:hover {
                background:rgb(111, 55, 240);
            }
            img {
                height:50%;
            }
        }
        .play-button {background:rgb(90, 73, 241);}
        .restart-button {background:rgb(241, 64, 64);}
        .timer {
            margin-left:auto;
            font-size:18px;
            font-family:PoppinsBold;
        }
    }

    .play-prompt,
    .pause-prompt,
    .game-end,
    .event-window {
        position:absolute;
        top:50%;left:50%;
        transform:translate(-50%,-50%);
    }

    .play-prompt {
        color:#fff;
        font-size:20px;
    }

    .game-end {
        min-width:300px;
        background:#fff;
        border-radius:15px;
        font-size:22px;

        padding:10px 0;

        .game-end-links {
            gap:10px;
        }

        .game-end-link {
            a {
                text-decoration:none;
                color:rgb(37, 73, 128);
                font-size:16px;
            }
        }
    }

    .game-end-lose {
        color:rgb(255, 64, 64);
        border:2px solid rgb(255, 48, 48);
    }

    .game-end-win {
        color:rgb(65, 192, 76);
        border:2px solid rgb(65, 192, 76);
    }

    .pause-prompt {
        height:100px;
        width:100px;
        background:rgba(94, 94, 94, 0.815);
        border-radius:15px;
        img { 
            height:50px;
        }
        z-index:1000;
    }

    .event-window {
        height:100%;
        width:100%;
        border-radius:10px;
        z-index:10;
        background:rgba(255, 255, 255, 0.651);

        .event-window-inner {
            background:rgb(28, 27, 43);
            padding:15px;
            border-radius:10px;

            gap:20px;

            color:#fff;

            .event-input {
                input {
                    height:30px;
                    line-height:30px;
                    font-family:Poppins;
                    padding:5px 10px;
                    font-size:18px;
                    border:1px solid rgb(141, 117, 247);
                    outline:none;
                    background:rgb(30, 27, 59);
                    color:#fff;
                    border-radius:10px;
                    &:focus {
                        outline:2px solid rgb(68, 124, 245);
                    }
                }
            }

            $red: rgb(255, 88, 88);

            .event-submit {
                gap:10px;
                .event-submit-button {
                    padding:10px 15px;
                    font-size:18px;
                    border-radius:10px;
                    cursor:pointer;
                    transition:all .1s ease-in-out;
                    &.green {
                        $green: rgb(73, 214, 104);
                        border:1px solid $green;
                        color:$green;
                        &:hover {
                            background:$green;
                        }
                    }
                    &.red {
                        border:1px solid $red;
                        color:$red;
                        &:hover {
                            background:$red;
                        }
                    }
                    &:hover {
                        color:#fff;
                    }
                }
            }

            .event-result {
                color:$red;
            }
        }
    }

}